{% extends 'head.html' %}
{% block body %}
<h1 class="text-center">Beta Access</h1>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/static/img/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Test 3</h5>
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel porta mauris, molestie condimentum urna.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Test 2</h5>
        <p class="card-text">Vestibulum molestie iaculis posuere. Suspendisse consectetur metus vitae nulla tincidunt pulvinar. Nullam sed ante risus. Suspendisse tortor nisl, dapibus in metus non, porta lobortis velit. Nunc accumsan aliquam fermentum. Nulla molestie facilisis placerat. Suspendisse venenatis erat erat, vitae sodales turpis molestie eu.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Test 3</h5>
        <p class="card-text"> Pellentesque pretium est fringilla massa vulputate vestibulum. Etiam tortor odio, rutrum at lacinia in, commodo a orci. Etiam laoreet, dolor ac interdum dictum, ligula libero rhoncus orci, et pulvinar risus leo vitae lacus. Nullam nisi elit, placerat non justo pretium, lacinia condimentum libero. Nunc ut molestie orci, et efficitur neque. Integer nec ipsum sit amet arcu venenatis ultrices vel at arcu. Integer sapien tortor, ultrices ac semper non, sagittis pretium nulla. </p>
        <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
      </div>
    </div>
  </div>
{% endblock body %}