<!DOCTYPE html>
<html>
<style>
    body {
        background-image: url("nae_nae.png");
        background-repeat: repeat;
        background-size: 300px 200px;
    }
</style>
<body>

    <h1>Login</h1>
    <form action="/" method="POST">
        <p><b>Username: </b></p>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br>
        <p><b>Password: </b></p>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>