<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>{% if title %}{{ title }}{% else %}Home{% endif %}</title>
</head>


<body class="h-100 w-100 text-center text-white bg-dark">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-auto">
			<h3 class="float-md-start mb-0">x1337 Reporter</h3>
			{% if current_user.is_authenticated %}
				{% include 'navbar-auth.html' %}
			{% else %}
				{% include 'navbar-unauth.html' %}
			{% endif %}
		</header>

		<main class="px-1 h-75">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
			<div class="alert {{ category }}">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %}
			{% endblock %}
		</main>

		<footer class="mt-auto text-white-50">
			<p>H4ck d4 Pl4n3t</p>
		</footer>
	</div>


	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>